.logo {
    width: 200px;
    height: 60px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 10px 20px;
  }

  .navlinks {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
  display: flex;
  }

.navbarProfile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #292929;
    padding: 10px 20px;
  }
  

  .navlinks li {
    margin-left: 0px;

  }

  .navlinks li a {
    display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: large;
  }



li a:hover {
  background-color: #000000;
  border-radius: 25px;

}

.active {
    background-color: #007bff;
    border-radius: 25px;
  }

  .activeProfile{
    background-color: #ff7f0e;
    border-radius: 25px;
  }



  .modal-content > input{
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
    border-radius: 10px; 
} 


button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border: none; 
    border-radius: 10px; 
}

.cancelbtn {
    background-color: rgb(224, 8, 8);
}

.signupbtn {
    background-color: green;
}


.cancelbtn, 
.signupbtn { 
    cursor: pointer;
    width:49.7%;
} 

  
.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
} 
  
.modal-content {
    padding: 16px;
    background-color: #3c3c40;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px; 
}

label > b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

  
.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 
  
.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 
  
.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
} 

.section-gap {
    margin-top: 300px; 
}

.section-gap-lesser {
    margin-top: 25px; 
}

.oval {
    position: relative;
    width: 300px; 
    height: 100px; 
    border: 2px solid black; 
    border-radius: 50px / 100px; 
    margin-bottom: 20px; 
    padding-left: 20px; 
}



  
@media screen and (max-width: 600px) { 
    .cancelbtn, 
    .signupbtn { 
        width: 100%; 
    } 
} 




.collapsible {
    display: none;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible, button {
    color: black;
}


.collapsible:hover {
    background-color: #ddd;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ededed;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.profileBody{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292929;
}


.progress {
    height: 20px;
    margin-right: 75%;
    margin-bottom: 1%;
}

.progress-bar {
    background-color: #007bff;
    height: 100%;
    text-align: center;
}

.view-tasks-button {
    outline: 0;
    border: none;   
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 10px;    
}


.module-content {
    font-weight: 600;
}

.studytask{
    display: inline;
}
.studytasklabel{
    display: block;
}
.studytask > input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px; 
}

select{
    width: 50%; 
    height: 42px;
    padding: 5px; 
    text-align: left;
    border-radius: 10px; 


}

#notes {
    width: 400px;
    height: 200px;
    padding: 8px;
    margin: 8px 0;
    line-height: 1; 
    resize: none;
    border-radius: 10px; 

}

#activitynotes {
    width: 400px;
    height: 100px;
    padding: 8px;
    margin: 8px 0;
    line-height: 1; 
    resize: none;
    border-radius: 10px; 

}

.tasklabel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.info-window {
    display: none;
    position: absolute;
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    z-index: 1000;
    word-wrap: break-word; 
}


.info-window-name {
    width: 150px;
    display: inline-block;
    padding-bottom: 5px;
}
.info-window-end {
    width: 150px;
    display: inline-block;
    align-self: right;
    padding-bottom: 5px;
}

.info-window-requirement {
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-window-notes {
    padding-top: 5px;
    padding-bottom: 5px;
}


#task-container {
    width: 300px;
    position: relative;
    margin-bottom: 20px;
}

.taskdiv {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.welcome{
    
    border: 5px solid black;
    padding: 8px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.welcome > h1{
    font-family: "Mulish",sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}
mark.title{
    color: #007bff;
    background: none;
}
.welcomePara{
    font-size: 60px;
    text-align: center;
}
.centreTitle{
    font-size: 60px;
    text-align: center;

}
.DBloginButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 25px 50px; 
    text-align: center;
    text-decoration: none;
    display: block; 
    width: fit-content; 
    margin: 0 auto; 
    font-size: 24px; 
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.DBloginButton:hover {
    background-color: #45a049; 
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.4);
}


.imageCentre {
    padding-top: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}
.imageCentre > img{
    width: 200px;
    height: 60px;
}



.profileHeader {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9e2e2;
}
  
 
  
.profileSignupButton, .profileLoginButton {
    
    padding: 25px 50px; 
    text-align: center;
    text-decoration: none;
    width: fit-content;
    font-size: 40px; 
    cursor: pointer;
    border-radius: 30px; 
    transition-duration: 0.4s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  

.profileButtonContainer {
    display: flex;
    justify-content: center;
}

.profileSignupButton {
    background-color: #ff7f0e; 
    color: white;
    margin-right: 0px;
    padding: -200px;
}
  
.profileSignupButton:hover {
    background-color: #ff9e6e; 
}
  
.profileLoginButton {
    background-color: white; 
    border: 2px solid #ccc; 
    color: #333; /

}
  
.profileLoginButton:hover {
    background-color: #bcc0ba; 
}

.form-error{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e9e2e2;
}
  
  



